/* src/pages/HomePage.css */

.page-content {
  /* Añadimos padding a los lados para que el contenido tenga un respiro */
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.section-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 2rem 0;
  position: relative;
  padding-bottom: 1rem;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
}

.explore-section {
  padding: 4rem 0;
}

.filter-section {
  background-color: var(--color-surface);
  padding: 4rem 0;
  margin: 3rem 0;
}

.results-section {
  padding: 2rem 0;
}

.results-title {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2.5rem;
}

.no-results-message {
  text-align: center;
  padding: 3rem;
  color: var(--color-text-secondary);
}
