.category-filter-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea en pantallas pequeñas */
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family);
  font-size: 0.85rem;
  font-weight: 600;
  padding: 1rem;
  min-width: 100px;
  border-radius: var(--border-radius);
  border: 2px solid transparent; /* Borde transparente por defecto */
  background-color: transparent;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-button:hover {
  color: var(--color-primary);
}

.filter-button.active {
  color: var(--color-primary);
  border-color: var(--color-primary); /* Borde primario cuando está activo */
  background-color: var(--color-surface); /* Fondo blanco cuando está activo */
  box-shadow: var(--shadow-sm); /* Sombra ligera para el activo */
}

.filter-button svg {
  font-size: 1.8rem;
}
.filter-icon-flag {
  width: 32px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}