/* src/components/Footer.css */
.main-footer {
  background-color: #333; /* Un fondo oscuro para buen contraste */
  color: rgba(255, 255, 255, 0.7); /* Texto blanco semi-transparente */
  padding: 2.5rem 1rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 0.9rem;
  font-family: var(--font-family);
}

.footer-text {
  margin: 0 0 1.5rem 0;
}

.footer-text a, .footer-text a:visited {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-text a:hover {
  color: var(--color-primary);
}

.heart {
  color: #e25555;
  display: inline-block;
  margin: 0 0.25rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.social-links a, .social-links a:visited {
  color: white;
  transition: color 0.2s, transform 0.2s;
}

.social-links a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}