.search-bar-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 2.5rem;
  font-size: 0.9rem;
  border-radius: 50px;
  border: 1px solid var(--color-border);
  background-color: #f7f7f7;
  color: var(--color-text-primary);
  transition: all 0.2s;
}

.search-input:focus {
  outline: none;
  border-color: var(--color-primary);
  background-color: white;
}

/* Icono de Lupa */
.search-bar-container::before {
  content: '🔍';
  position: absolute;
  left: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}

/* --- HACK DEFINITIVO PARA EL AUTOCOMPLETADO DE CHROME --- */
/* Esta pseudo-clase se aplica cuando el navegador rellena el campo */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Forzamos el color del texto a ser el nuestro */
    -webkit-text-fill-color: var(--color-text-primary) !important;
    /* Forzamos el fondo a ser el nuestro */
    -webkit-box-shadow: 0 0 0 30px #f7f7f7 inset !important;
    box-shadow: 0 0 0 30px #f7f7f7 inset !important;
    /* También podemos forzar la fuente si es necesario */
    font-family: var(--font-family) !important;
}